<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Delivery Receipt SMS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container" style="margin-top: 50px;">
            <div class="col-md-2">
                <span style="font-size: 30px;" class="glyphicon glyphicon-send" aria-hidden="true"></span>
                <strong  style="line-height: 30px; vertical-align: top;">&nbsp;Message:</strong>
            </div>
            <div id="message-content" class="col-md-10" style="margin-bottom: 20px;">
                $message
            </div>

            <div class="col-md-2">
                <span style="font-size: 30px;" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <strong  style="line-height: 30px; vertical-align: top;">&nbsp;Sent Event:</strong>
            </div>
            <div id="sent-event" class="col-md-10" style="margin-bottom: 20px;">
                Loading ...
            </div>

            <div class="col-md-2">
                <span style="font-size: 30px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <strong  style="line-height: 30px; vertical-align: top;">&nbsp;Receipt Event:</strong>
            </div>
            <div id="receipt-event" class="col-md-10" style="margin-bottom: 20px;">
                Loading ...
            </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                if (typeof(EventSource) === "undefined") {
                    alert('Your browser do not support EventSource for async events');
                    return;
                }

                var source = new EventSource('$statusUrl');

                source.addEventListener('$sentEvent', function(event) {
                    $('#sent-event').text(event.data);
                }, false);

                source.addEventListener('$deliveredEvent', function(event) {
                    $('#receipt-event').text(event.data);
                    source.close();
                }, false);
            });
        </script>
    </body>
</html>
